.modalContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px var(--shadow2);
  overflow: hidden;
  z-index: 100;
}

.hidden {
    display: none;
}

.modal {
  position: relative;
  width: 60%;
  color: rgb(250, 250, 250);
  background: linear-gradient(to bottom, rgb(135, 137, 140), rgb(90, 98, 113));
  border: 1px solid rgb(250, 250, 250);
  border-radius: 5px;
}

.modal_data {
  margin: 50px auto;
  width: 80%;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  /* width: 40px; */
  padding: 3px 18px;
  text-align: center;
  font-size: 18px;
  user-select: none;
  color: rgb(250, 250, 250);
  background: rgb(130, 133, 135);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s all;
}

.close:hover {
  background: rgb(200, 0, 0);
}

.message {
  text-align: left;
}

.input {
  margin-top: 30px;
  width: 450px;
}

.twoButtons {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  padding: 5px 15px;
  outline: none;
  border: none;
  font-weight: 550;
  font-size: 15px;
  color: rgb(250, 250, 250);
  border-radius: 5px;
  cursor: pointer;
}

.confirm {
  background: rgb(91, 120, 200);
}

.cancel {
  background: rgb(200, 91, 91);
}

.confirm:hover {
  background: rgb(90,123, 223);
}

.cancel:hover {
  background: rgb(230, 30, 30);
}
