.form_container {
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("./../assets/fondo_01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form_data {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(250, 250, 250, 0.3);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 10px var(--shadow);
  border-radius: 5px;
  overflow: hidden;
}

.form_left {
  padding: 50px;
}

.form_data form {
  width: 280px;
  max-width: 330px;
}

.form_data form :nth-child(3) {
  /* background: rgb(255, 0, 0); */
  margin-bottom: 5px;
}

.form_right {
  position: relative;
  height: 440px;
  border-left: 2px solid rgba(255, 255, 255, 0.3);
}

.logo {
  height: 100%;
  aspect-ratio: 1;
}

.title {
  color: rgb(91, 120, 200);
  font-size: 30px;

  margin: 0px 0px;
  filter: drop-shadow(0 0 15px var(--shadow2));
  -webkit-text-stroke: 0.3px rgba(255, 255, 255);
  text-shadow: -0.3px -0.3px 0 rgba(255, 255, 255),
    0.3px -0.3px 0 rgba(0, 0, 0, 0.5), -0.3px 0.3px 0 rgba(255, 255, 255),
    0.3px 0.3px 0 rgb(0, 0, 0, 0.5);
}

.helpText {
  width: 80%;
  font-size: 13.5px;
  font-weight: 450;
  text-align: center;
  letter-spacing: 0.2px;
  color: rgb(215, 218, 220);
  filter: drop-shadow(0 0 15px var(--shadow2));
  margin-top: 0;
  margin-bottom: 30px;
  text-shadow: -0.3px -0.3px 0 rgba(255, 255, 255),
    0.3px -0.3px 0 rgba(0, 0, 0, 0.5), -0.3px 0.3px 0 rgba(255, 255, 255),
    0.3px 0.3px 0 rgb(0, 0, 0, 0.5);
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 5px 10px;
  width: 100%;
  font-size: 15px;
  font-weight: 700;
  font-family: inherit;
  color: rgb(255, 255, 255);
  background: rgb(91, 120, 200);
  outline: none;
  cursor: pointer;
  transition: border-color 0.25s;
}

.noButton {
  border: 1px solid transparent;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 500;
  font-family: inherit;
  outline: none;
  cursor: pointer;
  transition: border-color 0.25s;
}

/* .buttonSesion:focus,
.buttonSesion:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
} */

.button:hover {
  background: var(--specialText);
}

form .other_sesion {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.other_sesion .noButton {
  background: transparent;
  color: var(--detail);
  font-weight: 400;
}

.forgotPassword {
  letter-spacing: 1px;
  background: transparent;
  color: rgb(215, 218, 220);
  border: none;
  cursor: pointer;
}

.forgotPassword:hover {
  color: rgb(255, 255, 255);
}
